*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    height: 100vh;
}

.form {

    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 40%;
    height: 50%;
    padding: 32px 40px;
    border-radius: 10px;
    background-color: rgb(226, 223, 223);

}

.form_title {
    font-style: normal;
    font-weight: 600;
    color: black;
    margin: 20px 0 0 0;

}


.form__button {

    display: inline-block;
    width: 35%;
    height: 10%;
    text-align: center;
    color: #fff;
    background-color: rgb(49, 49, 49);
    border: 1px solid rgb(49, 49, 49);
    border-radius: 35px;
    position: relative;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;

}

.authorization {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.form__label {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 1em;
    font-weight: 600;
    color: black;
}

.form__input {
    height: 50px;
    width: 100%;
    font-size: 20px;
    padding-left: 5px;
}

.form__question {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    color: rgb(88, 88, 88);
}

.form__question a {
    text-decoration: none;
    color: rgb(88, 88, 88);

}

.authorization div {
    position: relative;

}

.authorization div img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);

}

.header {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 50px;
}

.header__logo {
    font-weight: bold;
    font-size: 35px;
    color: #333;
    text-decoration: none;
}

.nav__link {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
}


.nav__link:hover {
    background: white;
    border: 2px solid #353434;
    border-radius: 5px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(202, 202, 202);
    padding: 5px 15px 5px 15px;
    color: #333;
    position: absolute;
    bottom: 0;
    width: 1200px;
    border: 2px solid black;
}

.footer__logo {
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

.footer__nav-title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.footer__nav-link img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.footer__nav-link {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}